openapi: 3.2.0
info:
  title: eZee Technosys YCS Connectivity Inventory and Rates API
  description: Partner-facing connectivity API for the eZee Technosys (Yanolja Cloud Solution) hospitality platform - eZee Absolute PMS, eZee Centrix channel manager, eZee Reservation booking engine, and eZee Optimus POS.
  termsOfService: https://www.ezeetechnosys.com
  contact:
    name: eZee Technosys / Yanolja Cloud Solution
    url: https://api.ezeetechnosys.com/
  version: '1.0'
servers:
- url: https://live.ipms247.com
  description: eZee / Yanolja Cloud Solution production connectivity host
security:
- HotelCodeAuthCode: []
tags:
- name: Inventory and Rates
paths:
  /pmsinterface/getdataAPI.php:
    post:
      operationId: getData
      tags:
      - Inventory and Rates
      summary: Retrieve room inventory and room rates (XML)
      description: XML POST endpoint used to read room inventory and room rates for a date range, room type, and rate type. Scoped by HotelCode and AuthCode. Responds with XML.
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              type: string
              description: XML request document containing HotelCode, AuthCode, date range, room type, and rate type.
      responses:
        '200':
          description: XML document containing the requested inventory or rate data.
          content:
            application/xml:
              schema:
                type: string
components:
  securitySchemes:
    HotelCodeAuthCode:
      type: apiKey
      in: header
      name: Authorization
      description: Property-scoped credentials (HotelCode + AuthCode) provisioned through the YCS Connectivity Portal, supplied per the portal's authentication conventions (commonly carried in the request body and/or as HTTP Basic with a vendor-identifying User-Agent header). Not a self-serve public API key.
